.az-layout {
	background: none;
	min-height: 100%;
	height: 100%;
}

.page-area {
	margin-left: 275px;
	margin-bottom: 20px;
	min-height: 100%;
	padding: 20px;
}

.header {
	position: fixed;
}

.page-content {
	padding-top: 60px;
	min-height: 100%;
	padding-left: 20px;
	padding-right: 20px;
}
